<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="Ae6baujbcnT0gHxU4wFHjk98PSS6wONQp8deJ1CnB9DEu6VceIjpod0hMI2UbcLpjFMmVYiGsOsQJOo1"/>
      <add name="clientSecret" value="EHIhd5olQ7soOtI4dTVIigyyhB_M6he1S3tU3_Vd0tlN90CRqrCX7uBIzZV8jLpHIuVsEEfYazO3Y0rQ"/>
    </settings>
  </paypal>
</configuration>