<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.1" targetFramework="net40" requireReinstallation="true" />
  <package id="cef.redist.x64" version="3.2785.1482" targetFramework="net40" />
  <package id="cef.redist.x86" version="3.2785.1482" targetFramework="net40" />
  <package id="CefSharp.Common" version="53.0.0" targetFramework="net40" />
  <package id="CefSharp.WinForms" version="53.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="PayPal" version="1.7.4" targetFramework="net40" requireReinstallation="true" />
</packages>